<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main class="main">
      <div class="form-input-nickname"></div>
      <div class="users-list"></div>
      <div class="messages-list"></div>
      <div class="form-input-message"></div>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script src="./client.js"></script>
  </body>
</html>
